table {
    border-collapse: collapse;
}
a.link{
    color: aqua;
}
a.visited{
    color: black;
}
a.hover{
    color: red;
}
a.active{
    color:coral;
}
td{
   display: list-item; 
}
td.hidden{
    visibility: hidden;
}
td.position_static{
    position: static;
}   
div.inner_shadow{
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: inset 10px 10px 5px #888888;
}
div.inner_shadow2{
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: inset 10px 10px 5px #888,
     inset -10px -10px 5px #888;

}
div.multiple_shadows{
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: inset 10px 10px 5px #888,
     inset -10px -10px 5px rgb(255, 255, 255),
     inset 10px 10px 5px rgb(223, 15, 15)
     
}div.offset_zero{
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: inset 0 0 0 2em rgb(198, 26, 26);

}
div.text_shadow{
    text-shadow: 2px 4px 10px #b54d4d;

    /*pseudo classes*/
}
#parent p:first-child{
    color: green;
    text-decoration: underline;
}
#parent p::first-line{
    color : yellowgreen
}
#parent p::first-letter{
    color : red;
}
#parent p -moz-::selection{
    background-color: #9ACD32;
    color :rgb(255, 255, 255)
}
#parent p::after{
    content: url(C:\Users\HP\PhpstormProjects\learning\Image\RIARALOGO.jpg);
}
/*linear gradients*/
div.Gradients{
    float: right;
    width: 300px; 
    height: 100px;
    margin: 4px;
    color: #FFF;  
    background: linear-gradient(DeepSkyBlue, Black);
}
div.Specified_gradients{
    float: left;
    width: 300px; 
    height: 100px;
    margin: 4px;
    color: #FFF;  
    background: linear-gradient(DeepSkyBlue 20%, Black 20%);
}
div.Specified_gradients2{
    float: center;
    width: 300px; 
    height: 100px;
    margin: 4px;
    color: #FFF;  
    background: linear-gradient(DeepSkyBlue 20%, Black 20%, yellowgreen 30%);
}
/*Radial gradients*/
/*elipse is the default value*/
div.radial_gradient_elipse{
    height: 150px;
    width: 200px;
    color: #FFF;
    background: -moz-radial-gradient(green, yellow, blue);   
    background: -webkit-radial-gradient(green, yellow, blue);
    background: -ms-radial-gradient(green, yellow, blue);
}
/*circle linear gradient*/
div.radial_gradient_circle{
    height: 150px;
    width: 200px;
    color: #FFF;
    background: -moz-radial-gradient(circle, green, yellow, blue); 
    background: -webkit-radial-gradient(circle, green, yellow, blue); 
    background: -ms-radial-gradient(circle, green, yellow, blue); 
}
div.transitions{
    width: 50px;
    height: 50px;
    background: #32CD32;
    transition: width 3s;
    -webkit-transition: width 3s;
}
div:hover {
    width: 250px;
}
div.clock-wise_rotation{
    width: 200px;
    height: 100px;
    margin-top: 30px;
    background-color: papayawhip;
    transform: rotate(10deg);
}
div.anticlockwise_rotation{
    width: 200px;
    height: 100px;
    margin-top: 30px;
    background-color: #32CD32;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
}
div.translation {
        width: 260px;
        height: 50px;
        margin-top: 30px;
        background-color: palegoldenrod;
        transform-origin: bottom center;
        transform: translate(100px, 200px); 
}
div.skew{
    padding: 50px;
    position: absolute;
    background-color: #32CD32;
    transform: skew(30deg);
    -webkit-transform: skew(30deg);
}

div.first {
    width: 200px;
    height: 100px;
    background-color: #8BC34A;
    transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
    color:white;
}
div.second {
    margin: 60px;
    width: 200px;
    height: 100px;
    background-color: #8bc34a;
    transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    color:white;
}
div.keyframes{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: colorchange;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-name: colorchange;
    -webkit-animation-duration: 1s;
}
@keyframes colorchange{
    0% {background-color: red; }
    50% {background-color: green; }
    100% {background-color: blue; }
}
@-webkit-keyframes colorchange {
    0% {background-color: red; }
    50% {background-color: green; }
    100% {background-color: blue; }
}
.grayscale{
    filter:grayscale(100%);
}
.Sepia{
    filter:sepia(100%);
}
.saturate{
    filter:saturate(100%);
}
.hue_rotate{
    filter:hue-rotate(100deg)
}
.invert{
    filter:invert(70%)
}
.blurred{
    filter:blur(5px)
}