table {
    border-collapse: collapse;
}
a.link{
    color: aqua;
}
a.visited{
    color: black;
}
a.hover{
    color: red;
}
a.active{
    color:coral;
}
td{
   display: list-item; 
}
td.hidden{
    visibility: hidden;
}
td.position_static{
    position: static;
}