table {
    border-collapse: collapse;
}
a.link{
    color: aqua;
}
a.visited{
    color: black;
}
a.hover{
    color: red;
}
a.active{
    color:coral;
}
td{
   display: list-item; 
}
td.hidden{
    visibility: hidden;
}
td.position_static{
    position: static;
}   
div.inner_shadow{
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: inset 10px 10px 5px #888888;
}
div.inner_shadow2{
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: inset 10px 10px 5px #888,
     inset -10px -10px 5px #888;

}
div.multiple_shadows{
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: inset 10px 10px 5px #888,
     inset -10px -10px 5px rgb(255, 255, 255),
     inset 10px 10px 5px rgb(223, 15, 15)
     
}div.offset_zero{
    width: 300px;
    height: 100px;
    background-color: #9ACD32;
    box-shadow: inset 0 0 0 2em rgb(198, 26, 26);

}
div.text_shadow{
    text-shadow: 2px 4px 10px #b54d4d;

    /*pseudo classes*/
}
#parent p:first-child{
    color: green;
    text-decoration: underline;
}
#parent p::first-line{
    color : yellowgreen
}
#parent p::first-letter{
    color : red;
}
#parent p -moz-::selection{
    background-color: #9ACD32;
    color :rgb(255, 255, 255)
}
#parent p::after{
    content: url(C:\Users\HP\PhpstormProjects\learning\Image\RIARALOGO.jpg);
}
/*linear gradients*/
div.Gradients{
    float: right;
    width: 300px; 
    height: 100px;
    margin: 4px;
    color: #FFF;  
    background: linear-gradient(DeepSkyBlue, Black);
}
div.Specified_gradients{
    float: left;
    width: 300px; 
    height: 100px;
    margin: 4px;
    color: #FFF;  
    background: linear-gradient(DeepSkyBlue 20%, Black 20%);
}
div.Specified_gradients2{
    float: center;
    width: 300px; 
    height: 100px;
    margin: 4px;
    color: #FFF;  
    background: linear-gradient(DeepSkyBlue 20%, Black 20%, yellowgreen 30%);
}
/*Radial gradients*/
/*elipse is the default value*/
div.radial_gradient_elipse{
    height: 150px;
    width: 200px;
    color: #FFF;
    background: -moz-radial-gradient(green, yellow, blue);   
    background: -webkit-radial-gradient(green, yellow, blue);
    background: -ms-radial-gradient(green, yellow, blue);
}
/*circle linear gradient*/
div.radial_gradient_circle{
    height: 150px;
    width: 200px;
    color: #FFF;
    background: -moz-radial-gradient(circle, green, yellow, blue); 
    background: -webkit-radial-gradient(circle, green, yellow, blue); 
    background: -ms-radial-gradient(circle, green, yellow, blue); 
}
